.color--green1 {
  color: #014241;
}
.color--green2 {
  color: #aad8c6;
}

.color--orange1 {
  color: #f7990d;
}

.color--orange2 {
  color: #f7bc6f;
}

.color--red1 {
  color: #c70c02;
}
.color--red2 {
  color: #e08383;
}

.color--black {
  color: #000000;
}
.color--white {
  color: #ffffff;
}

.size--s {
  font-size: 16px;
}

.size--m {
  font-size: 20px;
}
.size--l {
  font-size: 24px;
}
.size--h1 {
  font-size: 32px;
}
