.color--green1 {
  color: #037333;
}
.color--green2 {
  color: #54b77e;
}

.color--orange1 {
  color: #fff203;
  text-shadow: rgb(232, 167, 2) 3px 0px 0px,
    rgb(232, 167, 2) 2.83487px 0.981584px 0px,
    rgb(232, 167, 2) 2.35766px 1.85511px 0px,
    rgb(232, 167, 2) 1.62091px 2.52441px 0px,
    rgb(232, 167, 2) 0.705713px 2.91581px 0px,
    rgb(232, 167, 2) -0.287171px 2.98622px 0px,
    rgb(232, 167, 2) -1.24844px 2.72789px 0px,
    rgb(232, 167, 2) -2.07227px 2.16926px 0px,
    rgb(232, 167, 2) -2.66798px 1.37182px 0px,
    rgb(232, 167, 2) -2.96998px 0.42336px 0px,
    rgb(232, 167, 2) -2.94502px -0.571704px 0px,
    rgb(232, 167, 2) -2.59586px -1.50383px 0px,
    rgb(232, 167, 2) -1.96093px -2.27041px 0px,
    rgb(232, 167, 2) -1.11013px -2.78704px 0px,
    rgb(232, 167, 2) -0.137119px -2.99686px 0px,
    rgb(232, 167, 2) 0.850987px -2.87677px 0px,
    rgb(232, 167, 2) 1.74541px -2.43999px 0px,
    rgb(232, 167, 2) 2.44769px -1.73459px 0px,
    rgb(232, 167, 2) 2.88051px -0.838247px 0px;
}

.color--orange2 {
  color: #e8a702;
}

.color--red1 {
  color: #f6454f;
}
.color--red2 {
  color: #e08383;
}

.color--black {
  color: #000000;
}
.color--white {
  color: #ffffff;
}

.size--s {
  font-size: 16px;
}

.size--m {
  font-size: 20px;
}
.size--l {
  font-size: 24px;
}
.size--h1 {
  font-size: 32px;
}

.root {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
