.root {
  display: flex;
  flex-direction: column;
  background-color: #ecdfcd;
}

.header {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.header h1 {
  background-color: #cce6fa;
  margin-bottom: 100px;
  padding: 30px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.block {
  display: flex;
  flex-direction: row;
  padding: 0 60px;
}
.block img {
  width: 200px;
  margin-right: 30px;
}
.block div {
  margin: auto 0;
}
.js {
  background-color: yellow;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}
